<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo&family=Inter&family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="background-container">
        <div id="background-upper-part">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 1000"><path fill="#fff" fill-opacity="1" d="M0,192L120,170.7C240,149,480,107,720,80C960,53,1200,43,1320,37.3L1440,32L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path></svg>
        </div>
        <div id="background-bottom-part"></div>
    </div>
    <div class="container">
        <div class="card-container">
            <div class="card">
                <div class="yellow-cirle">
                </div>
                <div class="heading">
                    <img src="/assets/nike.png" alt="" style="height: 2rem;" id="nike-image">
                    <h2>Our Products</h2>
                </div>
                <div id="product-list" class="list">
                </div>
            </div>
            <div class="card">
                <div class="yellow-cirle">
                </div>
                <div class="heading">
                    <img src="/assets/nike.png" alt="" style="height: 2rem;" id="nike-image">
                    <div id="cart-total">
                        <h2>Your cart</h2>
                        <h3 id="total">$0</h3>
                    </div>
                </div>
                <div id="cart-list" class="list">

                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/index.js" type="module"></script>
</html>